[client]
port = 3306
#socket = /tmp/mysql.sock

[mysqld]
port = 3306
bind-address = 0.0.0.0

gtid_strict_mode = ON
gtid_domain_id = 1

long_query_time = 3
#innodb_buffer_pool_instances = 1
#innodb_buffer_pool_size = 512M
max_binlog_size = 265M
innodb_file_per_table = true
join_buffer_size = 8M
key_buffer_size = 16M
table-open-cache = 2500
tmp_table_size = 64M
max_connections = 50
max_allowed_packet = 16M
max_heap_table_size = 64M
skip-name-resolve = ON

[mysqldump]
max_allowed_packet = 64M
quick
quote-names
